<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            height: 300px;
            width: 600px;
            background-color: aqua;
            overflow: auto;
        }
        .left{
            width: 50%;
            background-color: blue;
            float: left;
        }
        .right{
            width: 50%;
            float: left;
            background-color: brown;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="left">
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>
            <div>123</div>

            <div>123</div>
            <div>123</div>

            <div>123</div>
            <div>123</div>
            
        </div>
        <div class="right">
            <div>123</div>
            <div>123</div>
        </div>
    </div>
</body>
</html>